<div class="container">
  <div class="col-md-6">
    <img src="http://www.projectrenaissance.com/wp-content/uploads/2014/08/books-1.jpg" alt="book1" />


  </div>
  <div class="col-md-6">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
       Nullam et sem sed tellus consequat feugiat non non justo. Etiam mattis efficitur arcu, eget efficitur turpis vestibulum at.<br> Quisque vestibulum gravida lectus, id malesuada nibh tristique in. Vestibulum aliquet libero lorem. Sed cursus turpis magna, et placerat nisi convallis ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sem urna, maximus sit amet urna vitae, dignissim lacinia libero. Curabitur dictum at urna ultrices pellentesque. Praesent varius dignissim orci, sed condimentum nisi bibendum in.


    </p>

  </div>

</div>
